@model Product

<div class="col mb-4">

    <div class="product-card-wrapper">

        <div class="card product-card">

            <div class="badge-discount position-absolute">
                <form asp-action="Add" asp-controller="Favourites">
                    <input type="hidden" name="ProductId" value="@Model.Id">
                    <button class="btn btn-transparent" type="submit" style="box-shadow: none">
                        <i class="bi bi-heart"></i>
                    </button>
                </form>
            </div>

            <a href="/Products/Details/@Model.Id" class="img-wrapper d-block">
                <img class="img-fit" src="~/img/products/@Model.Image" alt="@Model.Name">
            </a>

            <div class="card-body-compact text-center">

                <h6 class="mb-1">
                    <a href="/Products/Details/@Model.Id" class="title-compact d-block" title="@Model.Name">
                        @Model.Name
                    </a>
                </h6>

                <div class="price-area">
                    <span class="price-old">@((Model.Price + 500).ToString("c"))</span>
                    <span class="price-new">@Model.Price.ToString("c")</span>
                </div>
            </div>
            <form action="/Cart/Add" method="post">
                <input type="hidden" name="ProductId" value="@Model.Id">
                <button class="btn btn-compact" type="submit" style="box-shadow: none"">
                        <i class=" bi bi-cart-plus me-1"></i> SEPETE EKLE
                </button>
            </form>


        </div>
    </div>
</div>