@model Eticaret.Core.Entities.ThemeSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThemeSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackgroundColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackgroundColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NavbarBgColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NavbarBgColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterBgColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterBgColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
