@model Eticaret.Core.Entities.News

@{
    ViewData["Title"] = "Detaylar";
}


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
                <img src="/img/@Model.Image" height="100">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary mt-2" sp-route-id="@Model?.Id">Düzenle</a>
    <a asp-action="Index" class="btn btn-danger mt-2">Geri Dön</a>
</div>
